@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800;900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #9b6464 0%, #3b52a3 100%);
  font-family: "Inter",sans-serif;
  color: #343a40;
  line-height: 1;
  padding-top: 70px;
}

h3 {
  font-size: 24px;
  letter-spacing: -0.5px;
  margin: 0;
}
header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 3rem 0;
  text-align: center;
  margin-top: 90px;
  /* background-image: linear-gradient(135deg, #9b6464 0%, #3b52a3 100%); */
}
.anchor {
  scroll-margin-top: 200px;
}
section {
  background-color: white;
  margin: 2rem 2rem;
  padding: 2rem;
  box-shadow: 0 13px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  border: 1px solid #9b6464;
}

a.nav-link, .copyright-text {
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: #6065ac;

  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}

a.nav-link:hover {
  background-image: linear-gradient(135deg, #9b6464 0%, #3b52a3 100%);
  border-radius: 5%;
  color: #fff;
  opacity: 0.9;

}

form input {
  margin-bottom: 5px;
}

form label {
  padding: 5px;
}

form button {
  margin-top:5px;
}



.just-validate-error-label {
  padding: 5px;
}

section p {
  font-size: 1rem;
  font-weight: 500;

  line-height: 1.6;

}

.card-text {
  font-size: 0.9rem;
}


.btn-primary {
  background-color: #4a69bd;
}




.card {
  width: 96%;
  height: 420px;
  margin: 5px auto;
}

.left {
  position: absolute;
  top: 50%;
  right: 95.5%;
  font-size: 30px;
}

.right {
  position: absolute;
  top: 50%;
  left: 95.5%;
  font-size: 30px;
}

.swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,5px);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  right: var(--swiper-navigation-sides-offset,5px);
}

.fade-in {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.5s, transform 0.5s;
}

.fade-in.active {
  opacity: 1;
  transform: translateX(0);
}




footer {
   background-color: rgba(249, 249, 249);
  color: #6065ac;
  padding: 30px 0;
  font-size: 1.2rem;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.social-media li {
  display: inline-block;
  margin-left: 10px;
}

.social-media li:first-child {
  margin-left: 0;
}

.social-media a {
  color: #6065ac;
}

.social-media a:hover {
  color: #d3d3d3;
}

.social-media i {
  font-size: 24px;
}