h1 {
    color: #6065ac;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}

section {
    width: 80%;
    margin: 20px auto;
}

img {

    margin: 0 auto;
}

.card {
    width:250px;
    text-align: center;
    padding: 25px;
    border: 2px solid grey;
    font-size: 1.0rem;
    height: auto;
}

.capitalize {
        text-transform:capitalize;
        color:#3b52a3
    
}

.card-body {
    padding: 1px;
    width: 200px;
    margin: 0 auto;
}

.swiper-slide { 
    
    width: 250px; }

.swiper-slide-active {
    border-bottom: 5px solid #3b52a3;

    
}



.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset,5px);
    background-image: url(placeholder-image.jpg);
    font-weight: bolder;
    
}
  
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
    right: var(--swiper-navigation-sides-offset,5px);
    font-weight: bolder;

  }

  .swiper-button-prev:hover, .swiper-button-next:hover {
    color: #6065ac;
  }


    #autocomplete-list {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 3;
        top:58px;
        font-family: "Inter";
      }
      
      #autocomplete-list .list-group-item {
        cursor: pointer;
      }
      
      #autocomplete-list .list-group-item:hover {
        background-color: #3b52a3;
      }

